.bg {
  width: 1680px;
  height: 1000px;
  background-image: linear-gradient(
    to bottom,
    rgb(51, 45, 71),
    rgb(138, 132, 158)
  );
}

.title {
  background-image: linear-gradient(rgb(240, 221, 12), rgb(207, 212, 187));
  color: rgb(121, 121, 194);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 120px;
  text-align: center;
  font-weight: bolder;
  padding: 80px;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(8, 8, 36);
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

.logo {
  height: 460px;
  width: 460px;
  margin-top: -480px;
  margin-left: 120px;
  rotate: -10deg;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.image {
  height: 338px;
  width: 600px;
  margin-left: 960px;
  margin-top: -320px;
  border: solid 4px rgb(54, 32, 32);
}

.intro {
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: linear-gradient(rgb(149, 149, 201), rgb(219, 231, 245));
  font-size: 32px;
  padding: 100px;
  border: rgb(6, 68, 16) 4px;
  border-style: solid;
  margin-right: 820px;
  margin-left: 80px;
}

.links {
  background-image: linear-gradient(rgb(107, 160, 131), rgb(215, 243, 229));
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bolder;
  padding: 120px;
  font-size: 28px;
  border: solid 6px rgb(85, 17, 17);
  margin-left: 80px;
  margin-right: 80px;
}

/* contact section */
#contact {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
}

.headings {
  display: flex;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px 0;
}

.input {
  padding: 12px;
  margin: 20px;
  width: 30%;
  border: none;
  outline: none;
}

#mgs {
  width: 20%;
  padding: 10px;
  margin: 15px;
  border: none;
  outline: none;
}

#send {
  padding: 10px;
  width: 10%;
  margin: 40px;
  border: none;
  outline: none;
}

#send:hover {
  cursor: pointer;
  box-shadow: 0 0 10px white;
}
